#title{
    background-color:#ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 8%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar{
    padding: 0 0 1rem 0;
}

#features{
    background-color: #fff;
    position: relative;
    padding: 200px 0 0 0;
    z-index: 1;
    top: -150px;
}

.para-pad{
    padding: 0 0 100px 0;
}

.navbar-brand{
    font-family: ubuntu;
    font-size: 2.5em
}

.navbar-nav > li{
    font-size: 1em;
    padding: 0 21px;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.dog-image{
    padding-top: 20px;
    margin-left: 30px;
    width: 70%;
    transform: rotate(25deg);
}
.fas-icon{
    font-size:80px;
    padding-bottom: 10px;
    color: #ef8172;
}

.fas:hover{
    color: #ff4c68;
}

p{
    color:#8f8f8f;
}

#testimonials{
    text-align: center;
    color: #fff;
    background-color:#ef8172;
}

#press{
    padding: 3%;
    text-align: center;
    background-color:#ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

.carousel-item{
    padding: 7% 15%;
}

.custom-padding{
    padding: 7% 15%;
}

.press-logo{
    width: 15%;
    margin:20px 20px 20px 50px;
}

#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column {
    padding: 3% 2%;
}

.cta-css{
    text-align:center;
    background-color:#ff4c68;
    color: #fff;
}

#copyright{
    font-family: 'Montserrat-thin', sans-serif;
    text-align: center;
    color: grey;
    margin: 25px;
}

#footer{
    text-align:center;
    margin: 50px ;
}

.footer-icons{
    margin: 10px;
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .dog-image{
        transform:rotate(0);
    }
    #features{
        position:static;
        padding-top:100px;
    }
}
